.list {
  position: relative;
  margin-bottom: var(--mantine-spacing-xl);
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  font-size: 14px;
  gap: 20px;
  flex-wrap: wrap;
}

.indicator {
  border-radius: 4px;
  background: linear-gradient(
    to bottom left,
    #313131,
    #222222
  );

  box-shadow:
    0 1px 3px rgba(255, 255, 255, 0.2),
    0 0 0 1px rgba(255, 255, 255, 0.1),
    inset 0 -2.4px 0 rgba(255, 255, 255, 0.12);

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
  }
}

.tab {
  z-index: 1;
  font-weight: 600;
  transition: color 100ms ease;
  color: var(--third-color);

  box-shadow:
    0 1px 3px rgba(200, 140, 44, 0.2),
    0 0 0 1px rgba(200, 140, 44, 0.1),
    inset 0 -2.4px 0 rgba(200, 140, 44, 0.12);

  border-radius: 4px;

  &[data-active] {
    color: white;
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);

    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}

@media (max-width: 768px) {
  .list {
    width: 95%;
    gap: 8px;
  }

  .tab {
    padding-inline: 12px;
  }
}