@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@font-face {
  font-family: 'OCRX';
  /* Using the provided WOFF file for better web compatibility */
  src: url('fonts/016d77631553ff359b97c15a2ddb99e0.woff') format('woff');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

.font-sora {
  font-family: "Sora", sans-serif;
  font-style: normal;
}

.font-source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
}

.font-ocrx{
  font-family: "OCRX", monospace;
}

:root{
  /* Backgrounds */
  --bg-color: #fafafa;
  --glass-bg: linear-gradient(
    180deg,
    #fafafa 0%,
    #e6e6e6 100%
  );

  /* Text */
  --primary-color: #111111;
  --secondary-color: #525252;
  --third-color: #5c5c5c;
  --navlink-text: #6d6d6d;
  --black-text: #000000;
  --punkWork-text: #2D2D1A;
  --stopGuessing-text: #171717;

  /* Input Field */
  --input-text: #696969;
  
  /* Buttons */
  --btn-bg: #ffffff;
  --btn-text: #363535;
  --linear-btn-from: #313131;
  --linear-btn-to: #222222;
  --btn-shadow: 
    0 0 0 1px #EBEBEB,
    0 1px 3px rgba(143,143,143,0.2),
    inset 0 -2.4px 0 rgba(62,62,62,0.04);

  /* Input field shadow */
  --glass-shadow:
    0 4px 12px rgba(0, 0, 0, 0.08),
    0 12px 24px rgba(0, 0, 0, 0.06),
    inset 0 1px 2px rgba(255, 255, 255, 0.5),
    inset 0 -1px 1px rgba(255, 255, 255, 0.2);

  /* Card */
  --card-color: #f5f5f5;
  --card-border: #C3C3C3;
  --card-slide-bg: #ffffff;
  --card-slide-shadow:
    0 -4px 20px rgba(0, 0, 0, 0.08);

  /* Footer */
  --footer-bg: #E0E0E0;
  --footer-border: #E5E5E5;
  --meta-text: #1C2B33;
}

[data-mantine-color-scheme="dark"] {
  /* Backgrounds */
  --bg-color: #111111;

  /* Text */
  --primary-color: #ffffff;
  --secondary-color: #b5b5b5;
  --third-color: #999999;
  --navlink-text: #b3b3b3;
  --black-text: #ffffff;
  --punkWork-text: #ffffff;
  --stopGuessing-text: #f5f5f5;
  
  /* Buttons */
  --btn-bg: #1a1a1a;
  --btn-text: #ffffff;
  --linear-btn-from: #4A4A4A;
  --linear-btn-to: #343434;
  --btn-shadow : 
    0 0 0 1px #2A2A2A,
    0 1px 3px rgba(0,0,0,0.4),
    inset 0 -2.4px 0 rgba(255,255,255,0.04);

  /* Card */
  --card-color: #1a1a1a;
  --card-border: #2E2E2E;
  --card-slide-bg: #2a2a2a;
  --card-slide-shadow:
    0 -4px 16px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.04);

  /* Footer */
  --footer-bg: #181818;
  --footer-border: #2E2E2E;
  --meta-text: #D6E2E8;
}